<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- resource path is based on `app.use(express.static('static'));` in app.js -->
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/nifty.min.css">
    <link rel="stylesheet" href="./styles/nifty-demo-icon.min.css">
    <link rel="stylesheet" href="./styles/my.css">
    <link rel="stylesheet" href="./styles/themify-icons.min.css">
    <link rel="stylesheet" href="./styles/font-awesome.min.css">

    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/bootstrap.min.js"></script>
    <script src="./scripts/nifty.min.js"></script>
    <script src="./scripts/icons.js"></script>
    <script src="./scripts/bootstrap-datepicker.min.js"></script>
    <script src="./scripts/bootstrapValidator.min.js"></script>
    <title>{{{title}}}</title>
</head>
<body>

<!-- Need to be constructed -->
<!-- Write the same parts of the menu page here (like footer or header) -->
<!-- for the list part in the menu page, please write in another template hbs file at views folder -->

{{{body}}}

</body>
</html>