<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- resource path is based on `app.use(express.static('static'));` in app.js -->
    <link rel="stylesheet" href="./styles/bootstrap.min.css">
    <link rel="stylesheet" href="./styles/nifty.min.css">
    <link rel="stylesheet" href="./styles/nifty-demo-icon.min.css">
    <link rel="stylesheet" href="./styles/my.css">
    <link rel="stylesheet" href="./styles/themify-icons.min.css">
    <link rel="stylesheet" href="./styles/font-awesome.min.css">
    <link rel="stylesheet" href="./styles/map.css">

    <script src="./scripts/jquery.min.js"></script>
    <script src="./scripts/bootstrap.min.js"></script>
    <script src="./scripts/nifty.min.js"></script>
    <script src="./scripts/icons.js"></script>
    <script src="./scripts/bootstrap-datepicker.min.js"></script>
    <script src="./scripts/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=006Akv1GpTT8c2OpAnw1WIKnRKsr784W"></script>
    <title>Index</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
<!-- 144.9597098711528,-37.79830229214481 -->
<!-- 144.9608068315597,-37.798468097073105 -->
<!-- 144.95961192825933,-37.799525094668184 -->
<!-- 144.96213232538466,-37.797654613047214 -->
<div class = "info">
    <p>Overlay <a href='#' target="_blank">link</a> Test</p>
</div>
<div id="map"></div>
<ul class="drawing-panel" style="z-index: 99;">
    <li class = "light btn current">Button!</li>
    <li class = "night btn">Button!</li>
</ul>

<!-- path is set in app.js : app.use(express.static('static')); -->
<script type="text/javascript">
    var map = new BMapGL.Map("map");

    let redIcon = new BMapGL.Icon("./images/redmark.png", new BMapGL.Size(25, 25));
    let blueIcon = new BMapGL.Icon("./images/bluemark.png", new BMapGL.Size(25, 25));
    console.log("asdasd");

    // init map points (static)
    // var user_point = new BMapGL.Point(144.95782936759818,-37.79872198514221);
    // var van1_point = new BMapGL.Point(144.9597098711528,-37.79830229214481);
    // var van2_point = new BMapGL.Point(144.9608068315597,-37.798468097073105);
    // var van3_point = new BMapGL.Point(144.95961192825933,-37.799525094668184);
    // var van4_point = new BMapGL.Point(144.96213232538466,-37.797654613047214);

    // var vanPoints = [van1_point, van2_point, van3_point, van4_point];

    // dynamic load vans and user
    <!--let vans_to_show = ;-->
    <!--let user_to_show = ;-->

    let user_to_show =  {x_pos: {{user_to_show.x_pos}}, y_pos: {{user_to_show.y_pos}} };

    // incoming string with no escape
    let vans_to_show = [{{{vans_to_show}}}];

    let user_point = new BMapGL.Point(user_to_show.x_pos, user_to_show.y_pos);

    // focus the map
    map.centerAndZoom(user_point, 18);

    let userMarker = new BMapGL.Marker(user_point, {icon:redIcon});
    map.addOverlay(userMarker);
    // User info window
    var sContent = `<div><h4 style='margin:0 0 5px 0;'>User!</h4>
    <img style='float:right;margin:0 4px 22px' id='imgDemo' src='../images/meme2.jpg' width='139' height='104'/>
    <p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>
    This is You!
    </p></div>`;
    var infoWindow = new BMapGL.InfoWindow(sContent);
    // click event
    userMarker.addEventListener('click', function () {
        this.openInfoWindow(infoWindow);
        // infoWindow
        document.getElementById('imgDemo').onload = function () {
            infoWindow.redraw(); // if net speed is slow, redraw to prevent cropped images
        };
    });


    vans_to_show.forEach((van) => {
        let van_point = new BMapGL.Point(van.location.x_pos, van.location.y_pos);
        console.log('create map point: ' + van.location.x_pos +', ' + van.location.y_pos);
        let marker = new BMapGL.Marker(van_point, {icon:blueIcon});

        // van info
        var sContent = `<div><h4 style='margin:0 0 5px 0;'>Van `+ van.van_name +`</h4>
    <img style='float:right;margin:0 4px 22px' id='imgDemo' src='../images/meme.jpg' width='139' height='104'/>
    <p style='margin:0;line-height:1.5;font-size:13px;text-indent:2em'>`
              + van.description + `, stars:`+ van.stars +
    `</p>
    <a href="#">Van Link `+ van.van_name +`</a>
    </div>`;
        var infoWindow = new BMapGL.InfoWindow(sContent);
        // click event
        marker.addEventListener('click', function () {
            this.openInfoWindow(infoWindow);
            // infoWindow
            document.getElementById('imgDemo').onload = function () {
                infoWindow.redraw(); // if net speed is slow, redraw to prevent cropped images
            };
        });
        map.addOverlay(marker);
    });

</script>
</body>

</html>
