<div id="container" class="cls-container  login-page">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <h1 class="h1 text-white"><img src="./images/icon_drink_snack.png" alt="icon">Snacks in a Van</h1>
    <div class="cls-content my-login-content-padding">
        <div class="login-box pager-rounded cls-content-sm panel">


            <div class="mar-ver pad-btm bord-btm">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="panel-control pull-left">
                            <a href="/" class="btn btn-default">
                                <i class="fa fa-2x fa-chevron-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-4">
                        <div style="font-size: 36px; font-weight: 600;">Login</div>
                    </div>
                    <div class="col-xs-6 col-md-4"></div>
                </div>
            </div>

            <div class="panel-body">

                <form action="/login" method="post">

                    <!-- username -->
                    <div class="form-group">
                        <input type="text" name="login_id" class="form-control my-round-border" placeholder="LoginID(E-mail)" autofocus="" data-bv-field="login_id">
                        <!-- empty warning -->
                        <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="login_id" data-bv-result="NOT_VALIDATED">The loginID is required</small>
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <input type="password" name="password" class="form-control my-round-border" placeholder="password" data-bv-field="password">
                        <!-- empty warning -->
                        <small style="display: none;" class="help-block" data-bv-validator="notEmpty" data-bv-for="password" data-bv-result="NOT_VALIDATED">The password is required</small>

                    </div>
                    <!-- forget password -->
                    <a href="#" class="btn-link mar-rgt pull-left">Forgot password?</a>
                    <br>
                    <!-- remember me -->
                    <div class="checkbox pad-btm text-left pull-right">
                        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">Remember me</label>
                    </div>

                    <button class="btn my-round-border btn-primary btn-block" type="submit">SIGN IN</button>
                </form>
                <br>
                <!-- register -->
                <a class="btn my-round-border btn-primary-negative btn-block" href="/register">JOIN US TODAY</a>
            </div>

        </div>
    </div>
    <!--===================================================-->


</div>