<div id="container" class="cls-container  login-page">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <h1 class="h1 text-white"><img src="./images/icon_drink_snack.png" alt="icon">Snacks in a Van</h1>
    <div class="cls-content my-login-content-padding">
        <div class="login-box pager-rounded cls-content-sm panel">


            <div class="mar-ver pad-btm bord-btm">
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <div class="panel-control pull-left">
                            <a href="#" onClick="history.go(-1); return false;" class="btn btn-default">
                                <i class="fa fa-2x fa-chevron-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <div style="font-size: 20px; font-weight: 600;display: flex;">Update Password</div>
                    </div>
                    <div class="col-xs-4 col-md-4"></div>
                </div>
            </div>

            <div class="panel-body">

                <form id='edit_form' action="/customer/edit_password" method="post">

                    <!-- Old Password -->
                    <div class="form-group">
                        <input type="password" name="old_password" class="form-control my-round-border" placeholder="Old password" autofocus="" data-bv-field="old_password">
                        <!-- empty warning -->
                    </div>

                    <!-- New Password -->
                    <div class="form-group" style="margin-top: 25px;">
                        <input type="password" name="new_password" class="form-control my-round-border" placeholder="New password" data-bv-field="new_password">
                        <!-- empty warning -->
                    </div>

                    <div class="form-group" style="margin-top: 25px">
                        <input type="password" name="retype_password" class="form-control my-round-border" placeholder="Retype new password" data-bv-field="retype_password">
                        <!-- empty warning -->
                    </div>

                    <div style="margin-top: 30px;">
                        <button class="btn my-round-border btn-primary btn-block" type="submit" >Submit</button>
                    </div>
                </form>
                <br>

            </div>

        </div>
    </div>
    <!--===================================================-->

</div>

<script>
    // FORM VALIDATION
    // =================================================================
    $(function () {
        $('#edit_form').bootstrapValidator({
            message: 'This value is not valid',
            fields: {
                old_password: {
                    validators: {
                        notEmpty: {
                            message: 'The old password is required'
                        },

                        stringLength: {
                            min: 6,
                            max: 20,
                            message: 'password length should be 6~20'
                        },
                    }
                },
                new_password: {
                    validators: {
                        stringLength: {
                            min: 6,
                            max: 20,
                            message: 'password length should be 6~20'
                        },

                        notEmpty: {
                            message: 'The password is required'
                        }
                    }
                },

                retype_password: {
                    validators: {
                        stringLength: {
                            min: 6,
                            max: 20,
                            message: 'password length should be 6~20'
                        },
                        identical: {
                            field: 'new_password',
                            message: 'The password and its confirm are not the same'
                        },
                        notEmpty: {
                            message: 'The password is required'
                        }
                    }
                },
            }
        });
    });
</script>