<div id="container" class="cls-container  login-page">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <h1 class="h1 text-white"><img src="./images/icon_drink_snack.png" alt="icon">Snacks in a Van</h1>
    <div class="cls-content my-login-content-padding">
        <div class="login-box pager-rounded cls-content-sm panel">

            <div class="panel-body">
                <div class="text-center">
                    <h2 class="h2 text-uppercase text-bold">Login Failed</h2>
                </div>
                <br>
                <div class="text-center">
                    <img src="./images/icon_warning.png" alt="warning">
                </div>
                <br>
                <div class="text-center">
                    <h5 class="h5 text-uppercase text-bold">Incorrect user name or password</h5>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <a href="#" onClick="history.go(-1); return false;" class="btn btn-block btn-rounded btn-primary-negative">Return Back</a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

        </div>
    </div>
    <!--===================================================-->


</div>